body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
  }
  /*Styling for page title*/
  .h1 {
    font-size: 20px;
    position: absolute;
    border-radius: 5px;
    transform: translateX(-50%);
    color: black;
    margin-top: 0;
    left: 50%;
  }
  /*styling for back button*/
  .back-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: forestgreen;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 50px;
    margin-left: 20px;
    border: 2px solid black;
    cursor: pointer;
    text-decoration: none;
  }
  
  .back-button:hover, .start-button:hover {
    background-color: lightgreen;
  }
  /*group layouts*/
  .label-container, .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  /*layout for input label*/
  .input-label {
    margin-bottom: 5px;
  }
  /*styling for input boxes*/
  .input-box {
    padding: 8px;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 5px;
    width: 150px;
    text-align: center;
  }
  /*styling for settings containers*/
  .input-container {
    border: 2px solid black;
    background-color: forestgreen;
    color: white;
    border-radius: 8px;
    width: 300px;
    margin-top: 40px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    margin-bottom: 20px;
    text-align: center;
  }
  /*styling for settings button*/
  .settings-button {
    position: absolute;
    font-size: 25px;
    background-color: forestgreen;
    color: white;
    width: 300px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid black;
    transform: translateX(-50%);
    top: 7%;
    left: 50%;
  }
  /*styling for playlist title*/
  .playlist-name {
    margin-top: 5px;
    font-size: 20px;
    color: white;
    margin-bottom: 5px;
  }
  